
@{
    ViewBag.Title = "Documento Reasingado";
}

<section class="content">
    <div class="alert alert-info">
        <h4>
            <i class="icon fa fa-check"></i>
            Reasignación documento
        </h4>
        El documento fue reasignado correctamente
    </div>
</section>

@section scripts{

}

