
@{
    ViewBag.Title = "Error de documento";
}

<section class="content">
    <div class="alert alert-danger">
        <h4>
            <i class="icon fa fa-ban"></i>
            Error de documento
        </h4>
        Ocurrió un error al buscar el documento
    </div>
</section>

@section scripts{

}
